.redditname {
    a {
        content: '';
        font-size: 0;

        &:before {
            content: 'polymer.js';
            font-size: 19px;
        }
    }

    &.pagename {
        a {
            &:before {
                font-size: 14px;
                font-variant: normal;
            }
        }
    }
}