$color__white: #f8f8f8;
$color__black: #1f2036;

$color__gray: #595a70;
$color__gray--dark: #444;
$color__gray--light: #eee;

$color__blue: #41a4f4;
$color__blue--light: #5eb2f6;

$color__pink: #d61a7f;